/* Custom class names for Navbar component */
.navbarContainer {
	background-color: #fff;
	z-index: 4;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	border-bottom: 1px solid #d1d5db;
	position: fixed;
	top: 0;
	padding: 16px 80px;
	box-sizing: border-box;

	@media (max-width: 1535px) {
		padding: 16px 20px;
	}
}

.navbarContent {
	display: flex;
	gap: 1.25rem;
	align-items: center;
	justify-content: center;
}

/* logo */

.custom-logo {
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
	display: flex;
	align-items: center;
	width: fit-content;

	&:hover {
		scale: 1.1;
	}

	img {
		height: auto;
		width: auto;
		min-width: 128px;
		max-width: 175px;
	}
}

/* address and location link */

.navLinks {
	width: 100%;
	display: flex;
	gap: 1px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;

	svg {
		height: 24px;
		width: 24px;
		margin-right: 0.25rem;
	}
}

.navLink {
	text-decoration: none;
	font-size: 0.9rem;
	font-weight: normal;
	color: #000;
	cursor: pointer;
	margin-top: 2.5px;

	&:hover {
		margin-right: 0.25rem;
	}

	@media (max-width: 1535px) {
		display: none;
	}
}

/* Search  */

.mainSearchContainer {
	display: none;

	@media (min-width: 768px) {
		display: block;
	}
}

.navLinksContainer {
	display: flex;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	border-radius: 9999px;
	border: 1px solid #d1d5db;

	button {
		padding: 0.5rem 1rem;
		border-radius: 9999px;
		outline-style: none;
		color: #ffffff;
		background: #03a9f4f0;
		border: none;
		cursor: pointer;
		display: flex;
		align-items: center;

		&:hover {
			scale: 1.1;
		}
	}
}

/* styling svg */

.searchSvg,
.arrowSvg {
	width: 1rem;
	height: 1rem;
	outline: none;
	border: none;
}

// media queries

@media (max-width: 1535px) {
	.addressImage {
		display: none;
	}
}
